* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  padding-bottom: 59px;
}

.container {
  padding: 0 16px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container {
  padding: 0 16px;
  height: 100%;
  width: 100%;
}

.greeting-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.backgraund-box {
  width: 72px;
  height: 72px;
  background: #40bfff;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
}

.greeting__title {
  font-weight: 700;
  font-size: 16px;
  color: #223263;
  margin-top: 16px;
}

.greeting__subtitle {
  font-size: 12px;
  color: #9098b1;
  margin-top: 8px;
}

.w-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  max-width: 343px;
}

.w-forms .w-forms[data-error] .pass-form {
  border: 1px solid #fb7181;
  border-radius: 5px;
  color: #fb7181;
}

.w-forms .form {
  width: 300px;
}

.w-forms input {
  outline: none;
  width: 100%;
  border: 1px solid #ebf0ff;
  border-radius: 5px;
  padding: 13px 16px 13px 50px;
  margin: 8px 0;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #9098b1;
}

.w-forms input:focus {
  border: 1px solid #40bfff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-weight: 700;
}

.w-forms input.email-form {
  background: url(/img/Welcome/W_email.svg) no-repeat;
  background-position: left 18px top 50%;
}

.w-forms input.email-form:focus {
  background: url(/img/Welcome/W_blue-email.svg) no-repeat;
  background-position: left 18px top 50%;
}

.w-forms input.pass-form {
  background: url(/img/Welcome/W_pass.svg) no-repeat;
  background-position: left 18px top 50%;
}

.w-forms input.pass-form:focus {
  background: url(/img/Welcome/W_blue-pass.svg) no-repeat;
  background-position: left 18px top 50%;
}

.w-forms input.name-form {
  background: url(/img/Welcome/R_name.svg) no-repeat;
  background-position: left 18px top 50%;
}

.w-forms input.name-form:focus {
  background: url(/img/Welcome/R_blue-name.svg) no-repeat;
  background-position: left 18px top 50%;
}

.w-forms .w-sign-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 21px;
  padding: 16px;
  background: #40bfff;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  -webkit-box-shadow: 0px 10px 30px rgba(64, 191, 255, 0.24);
          box-shadow: 0px 10px 30px rgba(64, 191, 255, 0.24);
  border-radius: 5px;
}

.w-forms .separation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 8px;
  overflow: hidden;
}

.w-forms .separation span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: #9098b1;
  text-transform: uppercase;
}

.w-forms .separation span::before, .w-forms .separation span::after {
  display: inline-block;
  content: "";
  width: 135px;
  height: 2px;
  background-color: #ebf0ff;
}

.w-forms .separation span::before {
  margin-right: 20px;
}

.w-forms .separation span::after {
  margin-left: 20px;
}

.alternative-login {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8px;
}

.alternative-login .google__login,
.alternative-login .facebook__login {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 16px;
  border: 1px solid #ebf0ff;
  -webkit-filter: drop-shadow(0px 10px 30px rgba(64, 191, 255, 0.24));
          filter: drop-shadow(0px 10px 30px rgba(64, 191, 255, 0.24));
  border-radius: 5px;
  margin: 8px 0;
  cursor: pointer;
  position: relative;
}

.alternative-login .google__login a,
.alternative-login .facebook__login a {
  display: block;
  height: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 180%;
  text-align: center;
  color: #9098b1;
}

.alternative-login .google__login svg,
.alternative-login .facebook__login svg {
  position: absolute;
  left: 20px;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
  color: #9098b1;
}

.footer-link a {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #40bfff;
  line-height: 150%;
}

.footer-link .fargot-pass {
  margin: 8px 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ebf0ff;
  padding: 16px;
}

.header .header__search .search {
  border: 1px solid #ebf0ff;
  border-radius: 5px;
  background: url(/img/Welcome/Header/Main_page/Search.svg) no-repeat;
  background-position: 14px;
  padding: 12px 16px 12px 40px;
  font-size: 12px;
  line-height: 180%;
}

.header .header__actions {
  height: 47px;
}

.header .header__actions .top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header .header__actions .top_nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 8px;
}

.itemBtn {
  position: relative;
}

.itemBtn__follow {
  width: 24px;
  height: 24px;
  background: url(/img/Welcome/Header/Main_page/Follow.svg) no-repeat center;
}

.itemBtn__notofiCount {
  border-radius: 12px;
  background-color: #fb7181;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 2px;
  right: 0px;
  display: none;
}

.itemBtn__notification {
  width: 24px;
  height: 24px;
  background: url(/img/Welcome/Header/Main_page/Notification.svg) no-repeat center;
}

.sellEvent {
  padding: 0 16px;
  margin-top: 16px;
}

.owl-carousel {
  border-radius: 5px;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-73.06%, #000000), to(rgba(0, 0, 0, 0))), url(image.png);
  background: linear-gradient(180deg, #000000 -73.06%, rgba(0, 0, 0, 0) 100%), url(image.png);
  height: 206px;
  border-radius: 5px;
  padding: 32px 0 0 24px;
}

.product-carousel {
  margin-bottom: 16px;
}

.product-carousel__photo {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-73.06%, #000000), to(rgba(0, 0, 0, 0))), url(image.png);
  background: linear-gradient(180deg, #000000 -73.06%, rgba(0, 0, 0, 0) 100%), url(image.png);
}

.promo__title p {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 16px;
}

.promo__subtitle {
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.customDots {
  width: 8px;
  height: 8px;
  background-color: #ebf0ff;
  border-radius: 10px;
  margin-left: 8px;
}

.customDots.active {
  background: #40bfff;
}

.carousel-box .product {
  margin: 0;
  margin-right: 15px;
}

.carousel-box__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin: 16px 0px;
}

.carousel-box__header .title__link {
  color: #40bfff;
}

.carousel-categoryes__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
  height: 108px;
}

.carousel-categoryes__box::-webkit-scrollbar {
  display: none;
}

.carousel-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}

.carousel-category__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  border: 1px solid #ebf0ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 66px;
  margin-bottom: 8px;
}

.carousel-category__title span {
  font-size: 10px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
  color: #9098b1;
}

.product-box {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.product-box::-webkit-scrollbar {
  display: none;
}

.product {
  font-family: "Poppins", sans-serif;
  padding: 16px;
  border: 1px solid #ebf0ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 6px 0;
}

.product__photo {
  margin-bottom: 8px;
}

.product__img {
  width: 109px;
  height: 109px;
}

.product__name {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #223263;
  margin-bottom: 4px;
}

.product__rating {
  margin-bottom: 16px;
}

.product__price {
  font-weight: 700;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #40bfff;
}

.product__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product__oldPrice {
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.5px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #9098b1;
  margin-right: 8px;
}

.product__discount {
  font-weight: 700;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #fb7181;
}

.product__trashImg {
  margin-left: 11px;
}

.banner {
  margin-top: 9px;
  margin-bottom: 16px;
}

.main__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
}

.main__product .product {
  width: 165px;
}

.main__product .product__img {
  width: 133px;
  height: 133px;
}

.bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 59px;
  background: #ffffff;
  border: 1px solid #ebf0ff;
}

.bottom-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 75px;
  height: 59px;
}

.bottom-menu__alert {
  display: none;
}

.bottom-menu__alert span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 5px;
  right: 13px;
  width: 20px;
  height: 20px;
  background: #fb7181;
  border-radius: 10px;
  border: 2px solid #ffffff;
  font-weight: 700;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.bottom-menu__title {
  font-size: 10px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
  color: #9098b1;
}

.active .bottom-menu__title {
  color: #40bfff;
  font-weight: 700;
}

.active .bottom-menu__icon path {
  stroke: #40bfff;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #223263;
  margin-left: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 193px;
}

.fullProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fullProduct__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fullProduct__follow {
  margin-top: 2px;
}

.fullProduct__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #223263;
}

.fullProduct__rating {
  margin-top: 8px;
}

.fullProduct__price {
  margin-top: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  letter-spacing: 0.5px;
  /* Primary/Blue */
  color: #40bfff;
}

.carousel {
  margin-top: 24px;
  margin-bottom: 24px;
}

.carousel__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  letter-spacing: 0.5px;
  /* Neutral/Dark */
  color: #223263;
}

.categories,
.carousel__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
  height: 48px;
}

.categories::-webkit-scrollbar,
.carousel__categories::-webkit-scrollbar {
  display: none;
}

.categories__item,
.carousel__categories__item {
  min-width: 48px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border: 1px solid #ebf0ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 66px;
  margin-right: 16px;
}

.categories__item.active,
.carousel__categories__item.active {
  background: #ffffff;
  border: 1px solid #40bfff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 66px;
}

.categories__size,
.carousel__categories__size {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
  color: #223263;
}

.categories__color-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 66px;
  cursor: pointer;
  position: relative;
  margin-right: 16px;
}

.color-input {
  width: 48px;
  height: 48px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.color-input::after {
  content: "";
  position: absolute;
  display: none;
}

.color-input:checked ~ .color-label {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 16px;
}

.categories input:checked ~ .color-input:after {
  display: block;
}

.specification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}

.specification__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 16px;
}

.specification__left {
  font-weight: normal;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #223263;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specification__right {
  font-weight: normal;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #9098b1;
  word-wrap: break-word;
  text-align: right;
  width: 171px;
}

.specification__aboutItem {
  font-weight: normal;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #9098b1;
}
