@import "nullstyle.scss";

body {
  font-family: "Poppins", sans-serif;
}
main {
  padding-bottom: 59px;
}

.container {
  padding: 0 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container {
  padding: 0 16px;
  height: 100%;
}

.greeting-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.backgraund-box {
  width: 72px;
  height: 72px;
  background: #40bfff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.greeting__title {
  font-weight: 700;
  font-size: 16px;
  color: #223263;
  margin-top: 16px;
}

.greeting__subtitle {
  font-size: 12px;
  color: #9098b1;
  margin-top: 8px;
}

.w-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  max-width: 343px;
  .w-forms[data-error] .pass-form {
    border: 1px solid #fb7181;
    border-radius: 5px;
    color: #fb7181;
  }

  .form {
    width: 300px;
  }

  & input {
    outline: none;
    width: 100%;
    border: 1px solid #ebf0ff;
    border-radius: 5px;
    padding: 13px 16px 13px 50px;
    margin: 8px 0;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #9098b1;
    &:focus {
      border: 1px solid #40bfff;
      box-sizing: border-box;
      border-radius: 5px;
      font-weight: 700;
    }

    &.email-form {
      background: url(/img/Welcome/W_email.svg) no-repeat;
      background-position: left 18px top 50%;
      // &:invalid {
      //   border: 1px solid #fb7181;
      //   border-radius: 5px;
      //   background: url(/img/Welcome/W_red-email.svg) no-repeat;
      //   background-position: left 18px top 50%;
      //   &:focus {
      //     background: url(/img/Welcome/W_red-email.svg) no-repeat;
      //     background-position: left 18px top 50%;
      //   }
      // }
      &:focus {
        background: url(/img/Welcome/W_blue-email.svg) no-repeat;
        background-position: left 18px top 50%;
      }
    }

    &.pass-form {
      background: url(/img/Welcome/W_pass.svg) no-repeat;
      background-position: left 18px top 50%;
      &:focus {
        background: url(/img/Welcome/W_blue-pass.svg) no-repeat;
        background-position: left 18px top 50%;
      }
    }
    //Register page ============================

    &.name-form {
      background: url(/img/Welcome/R_name.svg) no-repeat;
      background-position: left 18px top 50%;
      &:focus {
        background: url(/img/Welcome/R_blue-name.svg) no-repeat;
        background-position: left 18px top 50%;
      }
    }
  }

  .w-sign-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 21px;
    padding: 16px;
    background: #40bfff;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    box-shadow: 0px 10px 30px rgba(64, 191, 255, 0.24);
    border-radius: 5px;
  }
  .separation {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 8px;
    overflow: hidden;

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      color: #9098b1;
      text-transform: uppercase;

      &::before,
      &::after {
        display: inline-block;

        content: "";

        width: 135px;
        height: 2px;
        background-color: #ebf0ff;
      }
      &::before {
        margin-right: 20px;
      }
      &::after {
        margin-left: 20px;
      }
    }
  }
}
.alternative-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  & .google__login,
  .facebook__login {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 16px;
    border: 1px solid #ebf0ff;

    filter: drop-shadow(0px 10px 30px rgba(64, 191, 255, 0.24));
    border-radius: 5px;
    margin: 8px 0;

    & a {
      display: block;

      height: 100%;

      font-weight: 700;
      font-size: 14px;
      line-height: 180%;
      text-align: center;
      color: #9098b1;
    }
    cursor: pointer;

    position: relative;
    & svg {
      position: absolute;
      left: 20px;
    }
  }
}
.footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 14px;
  & span {
  }
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
  color: #9098b1;
  & a {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #40bfff;
    line-height: 150%;
  }

  & .fargot-pass {
    margin: 8px 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  border-bottom: 1px solid #ebf0ff;
  padding: 16px;

  & .header__search {
    & .search {
      border: 1px solid #ebf0ff;
      border-radius: 5px;
      background: url(/img/Welcome/Header/Main_page/Search.svg) no-repeat;
      background-position: 14px;
      padding: 12px 16px 12px 40px;
      font-size: 12px;
      line-height: 180%;
    }
  }
  & .header__actions {
    margin-left: 8px;
    height: 47px;
    & .top_nav {
      display: flex;
      height: 100%;

      & .top_nav__item {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0 8px;
      }
    }
  }
  & .itemBtn {
    position: relative;
    & .itemBtn__follow {
      width: 24px;
      height: 24px;
      background: url(/img/Welcome/Header/Main_page/Follow.svg) no-repeat center;
    }
    & .itemBtn__notofiCount {
      border-radius: 12px;
      background-color: #fb7181;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 2px;
      right: 0px;
      display: none;
    }
    & .itemBnt__notification {
      width: 24px;
      height: 24px;
      background: url(/img/Welcome/Header/Main_page/Notification.svg) no-repeat
        center;
    }
  }
}
.sellEvent {
  padding: 0 16px;
  margin-top: 16px;
}
.owl-carousel {
  border-radius: 5px;
}
.promo {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #000000 -73.06%, rgba(0, 0, 0, 0) 100%),
    url(image.png);
  height: 206px;
  border-radius: 5px;
  padding: 32px 0 0 24px;
}

.promo__title {
  & p {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 16px;
  }
}
.promo__subtitle {
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.customDots {
  width: 8px;
  height: 8px;
  background-color: #ebf0ff;
  border-radius: 10px;
  margin-left: 8px;
  &.active {
    background: #40bfff;
  }
}

.carousel-box {
  & .product {
    margin: 0;
    margin-right: 15px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.5px;
    margin: 16px 0px;
    & .title__link {
      color: #40bfff;
    }
  }
}

.carousel-categoryes__box {
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
  height: 108px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
}

.carousel-category__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 1px solid #ebf0ff;
  box-sizing: border-box;
  border-radius: 66px;
  margin-bottom: 8px;
  & .category__icon {
  }
}
.carousel-category__title {
  & span {
    font-size: 10px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #9098b1;
  }
}

.product-box {
  overflow-x: auto;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.product {
  font-family: "Poppins", sans-serif;
  padding: 16px;
  border: 1px solid #ebf0ff;
  box-sizing: border-box;
  border-radius: 5px;
  width: 141px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6px 0;
  &:last-child {
    // margin-right: 0;
  }
  &__photo {
    margin-bottom: 8px;
  }
  &__img {
    width: 109px;
    height: 109px;
  }
  &__name {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #223263;
    margin-bottom: 4px;
  }
  &__rating {
    margin-bottom: 16px;
  }
  &__price {
    font-weight: 700;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #40bfff;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
  }
  &__oldPrice {
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0.5px;
    text-decoration-line: line-through;
    color: #9098b1;
    margin-right: 8px;
  }
  &__discount {
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #fb7181;
  }
  &__trashImg {
    margin-left: 11px;
  }
}

.banner {
  margin-top: 9px;
  margin-bottom: 16px;
}
.main__product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12px;

  & .product {
    // margin: 8px;

    width: 165px;
    &__img {
      width: 133px;
      height: 133px;
    }
  }
}

.bottom-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 59px;
  background: #ffffff;
  border: 1px solid #ebf0ff;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 75px;
    height: 59px;
  }
  &__alert {
    display: none;
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 5px;
      right: 13px;
      width: 20px;
      height: 20px;
      background: #fb7181;
      border-radius: 10px;
      border: 2px solid #ffffff;

      font-weight: 700;
      font-size: 10px;
      line-height: 150%;

      letter-spacing: 0.5px;

      color: #ffffff;
    }
  }
  &__icon {
    & path {
      // stroke: #40bfff;
    }
  }
  &__title {
    font-size: 10px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.5px;

    color: #9098b1;
  }
}
.active {
  .bottom-menu__title {
    color: #40bfff;
    font-weight: 700;
  }
  .bottom-menu__icon {
    path {
      stroke: #40bfff;
    }
  }
}

.header {
  &__left {
    display: flex;
    align-items: center;
  }
  &__back {
    display: flex;
    align-items: center;
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #223263;
    margin-left: 12px;
  }
}
